#root,html,body{
    margin:0;
    padding:0;
    height:100vh;
    box-sizing:border-box;
}
.app{
    height:100%;
    opacity:0.96;
    background:url('./images/car.jpg');
    background-size: cover;
    background-position: center;
    display:flex;
    border: 2px solid black;
    justify-content: center;
    align-items:center;
      text-align: center  ;
}
.card{
    background-color: whitesmoke;
    border: 2px solid navy;
    width:50%;
    height:20%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    padding:2%;
    /* box-shadow: 4px 4px; */
}
.heading{
    /* border:2px solid black; */
     display:flex;
    align-items: center;
    justify-content: center;
    height:580px; 
    width:100%;
    
}
.button{
    position:relative;
    outline:none;
    text-decoration:none;
    border-radius:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    text-transform:uppercase;
    height:200px;
    width:150px;
    opacity:1;
    background-color: #ffffff;
    border:1px solid black;
}
.button span{
    color:#164ca7;
    font-size:12px;
    font-weight: 600;
    letter-spacing: 0.7px;
}
.button:hover{
    animation: rotate 0.7s ease-in-out both;
}
@media only screen and (max-width:600px){
    .card{
        width:80%;
        height:30%;
    }
}